<div class="container" id="home-container">
  <div class="jumbotron" id="jumbo-container">
    <h1 class="display-4">Alpha Blog</h1>
    <p class="lead">Sign up today</p>
    <hr class="my-4">
    <p> A lifestyle blog </p>
    <%= link_to "Sign up!", signup_path, class: "btn btn-outline-success btn-lg" %>
  </div>
</div>
